.accueil{
    height: 2cm;
    background-color: rgb(199, 11, 11);
    display: flex;
}
.accueil a{
    text-decoration: none;
    color:white;
}
ul{
    display: flex;
    margin-left: 5cm;
    list-style-type:none
}
li {
    margin-left:3cm;

}
form{
    margin-left: 3cm;
    margin-top: 0.5px;
}
.suite{
    display: flex;
    background-color:wheat;
    height: 1cm;
}
.suite a{
    text-decoration: none;
    color:black;
}
.photo{
    background-image: url(IMAGES/mobilier-vintage-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 11cm;
}
.photo button{
    margin-left: 16.5cm;
    border-radius: 20px;
    background-color:rgb(247, 34, 69) ;
    padding: 10px;
    
}
.photo a{
    text-decoration: none;
    color: black;
    font-size: larger;
}
.texte{
    background-color: rgb(199, 11, 11);
    height: 2cm;
    margin-left: 1cm;
    margin-right: 1cm;
    padding-left: 1cm;
    margin-top: 3cm;
}
.texte p{
    font-size: large;
}
h1{
    text-align: center;
    color: black; 
}
h2 {
    color: black;
    text-align: center;
    padding-top: 4cm;
    font-family: monospace;
    font-weight: 800;
}
h3{
    text-align: center;
    font-family: monospace;
    font-weight: 800;  
}
footer{
    display: flex;
    height: 5cm;
    background-color:black;
    margin-top: 1cm;
    color: white;
    padding-left: 2cm;
}
.contact{
    height: 5cm;
    width: 100%;
    margin-left: 1cm;

}
.reseaux{
    display: flex;
}
.service{
    height: 5cm;
    width: 100%; 

}
.facebook{
    margin-left: 10px;
}
.paiement{
    height: 5cm;
    width: 100%; 

}
.paie{
    display: flex;
}
h5{
    color:  rgb(247, 34, 69);
    font-size: x-large;
}
.galerie1{
    display: flex;
    margin-top: 1cm;
}
.galerie2{
    display: flex;
    margin-top: 1cm;
}
.galerie3{
    display: flex;
    margin-top: 1cm;
}
.montre1{
    background-color:antiquewhite  ;
    height: 14cm;
    width: 100%;
    margin-left: 1cm;
    border-radius: 10px;
    
}

.montre1 a{
    text-decoration: none;
    font-size: larger;
}
.montre2 a{
    text-decoration: none;
    font-size: larger;
}
.montre3 a{
    text-decoration: none;
    font-size: larger;
}
.montre4 a{
    text-decoration: none;
    font-size: larger;
}
.galerie1 button{
    height: 1cm;
    width: 100%;
    background-color: black;
}
.galerie2 button{
    height: 1cm;
    width: 100%;
    background-color: black;
}
.galerie3 button{
    height: 1cm;
    width: 100%;
    background-color: black;
}
.montre2{
    background-color:antiquewhite;
    height: 14cm;
    width: 100%;
    margin-left: 1cm;
    border-radius: 10px;
}
.montre3{
    background-color:  antiquewhite;
    height: 14cm;
    width: 100%;
    margin-left: 1cm;
    border-radius: 10px;
}
.montre4{
    background-color: antiquewhite;
    height: 14cm;
    width: 100%;
    margin-right: 1cm;
    margin-left: 1cm;
    border-radius: 10px;
}
h6{
    text-align: center;
    font-size: larger;
}
.montre1  img{
    margin-left: 1cm;
    margin-top: 10px;
    border-radius: 10px;
}
.montre2  img{
    margin-left: 1cm;
    margin-top: 10px;
    border-radius: 10px;
}
.montre3  img{
    margin-left: 1cm;
    margin-top: 10px;
    border-radius: 10px;
}
.montre4  img{
    margin-left: 1cm;
    margin-top: 5px;
    border-radius: 10px;
}
button {
    --c:gray; /* the color*/
    
    box-shadow: 0 0 0 .1em inset var(--c); 
    --_g: linear-gradient(var(--c) 0 0) no-repeat;
    background: 
      var(--_g) calc(var(--_p,0%) - 100%) 0%,
      var(--_g) calc(200% - var(--_p,0%)) 0%,
      var(--_g) calc(var(--_p,0%) - 100%) 100%,
      var(--_g) calc(200% - var(--_p,0%)) 100%;
    background-size: 50.5% calc(var(--_p,0%)/2 + .5%);
    outline-offset: .1em;
    transition: background-size .4s, background-position 0s .4s;
  }
  button:hover {
    --_p: 100%;
    transition: background-position .4s, background-size 0s;
  }
  button:active {
    box-shadow: 0 0 9e9q inset #0009; 
    background-color: var(--c);
    color: #fff;
  }
  .galerie1 img {
    width: 200px;
    height: 150px;
    -webkit-filter: grayscale(0) blur(0px);
    filter: grayscale(0) blur(0px);
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
   
  .galerie1 :hover img {
    width: 150px; /* on affiche l'image au carré */
    height: 150px;
    border-radius: 50%;  /* on arrondit l'image */
    -webkit-transform: rotate(360deg); /* rotation de l'image */
    transform: rotate(360deg);
  }
  .galerie2 img {
    width: 200px;
    height: 150px;
    -webkit-filter: grayscale(0) blur(0px);
    filter: grayscale(0) blur(0px);
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
   
  .galerie2 :hover img {
    width: 150px; /* on affiche l'image au carré */
    height: 150px;
    border-radius: 50%;  /* on arrondit l'image */
    -webkit-transform: rotate(360deg); /* rotation de l'image */
    transform: rotate(360deg);
  }
  .galerie3 img {
    width: 200px;
    height: 150px;
    -webkit-filter: grayscale(0) blur(0px);
    filter: grayscale(0) blur(0px);
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
   
  .galerie3 :hover img {
    width: 150px; /* on affiche l'image au carré */
    height: 150px;
    border-radius: 50%;  /* on arrondit l'image */
    -webkit-transform: rotate(360deg); /* rotation de l'image */
    transform: rotate(360deg);
  }